.card {
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
}
.title {
  text-align: center;
}
.transactions_container {
  margin-bottom: 24px;
}
.button_container {
  display: flex;
  justify-content: center;
}
