.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card {
  width: 250px;
  height: 113px;
  margin: 10px 0;
  & > div {
    min-height: 50px !important;
  }
  :global(.ant-card-body) {
    padding: 15px;
  }
  &_subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    font-weight: bold;
  }
}
.statistic_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.statistic_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .statistic {
    font-weight: 300;
    & > div {
      font-size: 18px;
    }
  }
}
