.wallet {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: calc(100% - 30px);
  height: 100%;
  background-color: gray;
  padding: 0 15px;
  .currency_card {
    grid-area: currency_card;
    display: flex;
    width: inherit;
    gap: 20px;
  }
  .currency_converter {
    width: inherit;
  }
}
