.wrapper {
  display: grid;
  grid-template-areas:
    'aside header'
    'aside content';
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  position: relative;
  .aside {
    grid-area: aside;
    transition: all 100ms ease-in-out;
  }
  .header {
    margin-left: 180px;
    grid-area: header;
    &_collapsed {
      margin-left: 75px;
    }
  }
  .content {
    grid-area: content;
    max-width: 100vw;
    padding: 10px 20px;
    min-height: calc(100vh - 160px);
    margin-left: 200px;
    &_collapsed {
      margin-left: 90px;
    }
  }
}
