.progress_chart {
  background-color: #3d3d3d;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  height: calc(100% - 20px);
  &_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  &_title {
    color: #fff;
  }
}
