.dashboard {
  display: grid;
  grid-template-areas:
    'statistic chart'
    'activity activity';
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  gap: 15px;
  width: calc(100% - 30px);
  height: 100%;
  background-color: gray;
  padding: 0 15px;
  .statistic {
    grid-area: statistic;
  }
  .chart {
    grid-area: chart;
  }
  .activity {
    grid-area: activity;
  }
}
